</div> <!-- container open in index.html -->
<footer class="container footer">
	<hr />
	<div class="row">
		<div class="span6">
			<p><small>Chief Librarian: Las Zenow &lt;zenow@riseup.net&gt;<br />
			   Fork the source code from <a href="https://gitlab.com/trantor">gitlab</a></small>.</p>
		</div>
	{{if not .IsOnion}}
		<div class="span6">
			<p class="pull-right"><small>This is a mirror of the <a href="https://www.torproject.org/">Tor</a> onion service:<br />
				<a href="http://kx5thpx2olielkihfyo4jgjqfb7zx7wxr3sd4xzt26ochei4m6f7tayd.onion/">http://kx5thpx2olielkihfyo4jgjqfb7zx7wxr3sd4xzt26ochei4m6f7tayd.onion</a></small></p>
		</div>
	{{end}}
	</div>
</footer>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
