{{template "header.html" .S}}

<p>Upload your epubs to help the library.</p>

<form class="well form-inline" method="POST" enctype="multipart/form-data">
	<input accept="application/epub+zip" type="file" name="epub" multiple="multiple" />
	<button type="submit" class="btn">Submit</button>
</form>

<p>The uploaded books will be reviewed by the librarians and included if they comply our quality standards. Do not upload epubs converted from PDFs or any book that is not pleasant to read.</p>

<p>This library is an Antifascits space, alt-right propaganda or other fascist or racist content is not wellcome here.</p>

{{template "footer.html" .S}}
